.dogPic{
    justify-content: center;
}

.dogPic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

p{
    
    font-size: 30px;
    background-color: bisque;
    display: flex;
    justify-content: center;
}